<div class="service row d-flex">
  <h1 class="mr-auto">Liste des Prestations</h1>
  <div>
    <%= link_to 'Créer une prestation', new_company_service_path(@company), class: 'btn btn-primary' %>
  </div>
</div>
<% if @services.blank? %>
  <div class="row d-flex">
    <p>Pas de prestation</p>
  </div>
<% else %>
  <div class="row d-flex" >
    <table border="1">
      <thead>
        <tr>
          <th>Ref_Prestation</th>
          <th>Description de la prestation</th>
          <th>Prix unitaire</th>
        </tr>
      </thead>
      <tbody>
        <% @services.each do |service| %>
        <tr>
          <td id='ref-service'><%= service.ref_service %></td>
          <td><%= service.description_service %></td>
          <td class='text-right'><%= service.unit_price %> €</td>
          <td>
            <%= link_to 'Modifier', edit_company_service_path(@company, service), class: 'btn btn-warning' %>
            <%= link_to 'Supprimer', company_service_path(@company, service), method: :delete, class: 'btn btn-danger', data: { confirm: "Etes-vous sûr(e) de vouloir supprimer cette prestation?" } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
