<div>
  <div class="row d-flex">
    <div class="mr-auto">
      <h1>Devis</h1>
    </div>
    <div class="mr-3">
      <%= link_to 'Télécharger PDF', pdf_company_customer_quote_path([@company, @customer, @quote], format: :pdf), class: 'btn btn-secondary' %>
    </div>
    <div>
      <%= link_to 'Supprimer ce devis', company_customer_quote_path(@company, @customer, @quote), method: :delete, class: 'btn btn-danger', data: { confirm: "Etes-vous sûr(e) de vouloir supprimer ce devis?" } %>
    </div>
  </div>
  <div class="row d-flex">
    <div class="mr-auto">
      <h4 class='row'>Référence: <%= @quote.ref_quote %> (<%= @quote.quote_status %>)</h4>
      <p class='row'><%= @quote.date.strftime("%d/%m/%Y") %> - <%= @quote.description %></p>
    </div>
    <div>
      <%= link_to 'Modifier la description', edit_company_customer_quote_path(@company, @customer, @quote), class: 'btn btn-warning' %>
    </div>
  </div>
  <div class="row d-flex">
    <div class="mr-auto">
      <table border="1">
        <thead>
          <th>Description de la prestation</th>
          <th>Prix unitaire</th>
          <th>Quantité</th>
          <th>Total HT</th>
        </thead>
        <tbody>
          <% if @quote.services.exists? %>
            <% @quote.quote_services.each do |quote_service| %>
              <tr>
                <td><%= quote_service.service.description_service %></td>
                <td class='text-right'><%= quote_service.service.unit_price %> €</td>
                <td class='text-right'><%= quote_service.service.quantity %></td>
                <td class='text-right'><%= quote_service.service.total_price_service %> €</td>
                <td>
                  <%= link_to company_customer_quote_quote_service_path(@company, @customer, @quote, quote_service), method: :delete, class: 'btn btn-danger', data: { confirm: "Etes-vous sûr(e) de vouloir supprimer cette prestation?" } do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div><br>
    <div>
      <%= link_to "Ajouter une prestation au devis", new_company_customer_quote_service_path(@company, @customer, @quote), class: "btn btn-primary" %>
    </div>
  </div>
  <div class="other row d-flex flex-column">
    <p><u>Remarques:</u> <button type="button" class="btn btn-link" data-toggle="modal" data-target="#otherModalCenter">Ajouter une remarque</button></p>
    <%= @quote.other %>
  </div>
  <div class='row d-flex flex-column'>
    <p>Acompte:  <%= @quote.deposit %> €  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#depositModalCenter">Ajouter un acompte</button></p>
    <p>Prix Total HT: <%= @quote.price_duty_free %> €</p>
    <p>Prix Total TTC: <%= @quote.price_all_taxes %> €</p>
  </div>
  <div class="row">
    <%= link_to 'Revenir au client', company_customer_path(@company, @customer), class: 'btn btn-primary' %>
  </div>
  <div class="modal fade" id="depositModalCenter" tabindex="-1" role="dialog" aria-labelledby="depositModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="depositModalLongTitle">Ajouter un acompte</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <ul>
              <li>30% d'acompte = <%= ((@quote.price_duty_free * 30) / 100).round(2) %> €</li>
            </ul>
          </div>
          <div>
            <%= form_for([@company, @customer, @quote]) do |f| %>
              <div class="d-flex">
                <div><%= f.hidden_field(:ref_quote, value: @quote.ref_quote) %></div>
                <div><%= f.hidden_field(:description, value: @quote.description) %></div>
                <div><%= f.hidden_field(:quote_status, value: @quote.quote_status) %></div>
                <div><%= f.hidden_field(:date, value: @quote.date) %></div>
                <div><%= f.hidden_field(:other, value: @quote.other) %></div>
                <div class='mr-auto'><%= f.label(:deposit, "Montant (en euros): ") %></div>
                <div><%= f.text_field(:deposit, required: true) %></div>
              </div><br>
              <div class="text-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <%= submit_tag "Valider l'acompte", class: 'btn btn-primary' %>  
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="otherModalCenter" tabindex="-1" role="dialog" aria-labelledby="otherModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="depositModalLongTitle">Ajouter une remarque</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <%= form_for([@company, @customer, @quote]) do |f| %>
              <div class="d-flex">
                <div><%= f.hidden_field(:ref_quote, value: @quote.ref_quote) %></div>
                <div><%= f.hidden_field(:description, value: @quote.description) %></div>
                <div><%= f.hidden_field(:quote_status, value: @quote.quote_status) %></div>
                <div><%= f.hidden_field(:date, value: @quote.date) %></div>
                <div><%= f.hidden_field(:deposit, value: @quote.deposit) %></div>
                <div class='mr-auto'><%= f.text_field(:other, required: false) %></div>
              </div><br>
              <div class="text-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <%= submit_tag "Valider la remarque", class: 'btn btn-primary' %>  
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>