<div>
  <div class="row d-flex">
    <div class="mr-auto">
      <h1>Modifier le DEVIS</h1>
    </div>
    <div class="mr-3">
      <%= link_to 'Télécharger en PDF', pdf_company_customer_quote_path([@company, @customer, @quote], format: :pdf), class: 'btn btn-secondary' %>
    </div>
    <div>
      <%= link_to 'Supprimer ce devis', company_customer_quote_path(@company, @customer, @quote), method: :delete, class: 'btn btn-danger', data: { confirm: "Etes-vous sûr(e) de vouloir supprimer ce devis?" } %>
    </div>
  </div>
  <div class="row d-flex">
    <div class="mr-auto">
      <h4 class='row'>Référence: <%= @quote.ref_quote %> (<%= @quote.quote_status %>)</h4>
      <b><p class='row'><%= @quote.date.strftime("%d/%m/%Y") %> - <%= @quote.description %></p></b>
    </div>
    <div>
      <%= link_to 'Modifier la date ou description', edit_company_customer_quote_path(@company, @customer, @quote), class: 'btn btn-warning' %>
    </div>
  </div>
  <div class="row d-flex">
    <div class="mr-auto">
      <table border="1">
        <thead>
          <th>Description de la prestation</th>
          <th>Prix unitaire</th>
          <th>Quantité</th>
          <th>Total HT</th>
        </thead>
        <tbody>
          <% if @quote.services.exists? %>
            <% @quote.quote_services.each do |quote_service| %>
              <tr>
                <td><%= quote_service.service.description_service %></td>
                <td class='text-right'><%= quote_service.service.unit_price %> €</td>
                <td class='text-right'><%= quote_service.service.quantity %></td>
                <td class='text-right'><%= quote_service.service.total_price_service %> €</td>
                <td>
                  <%= link_to company_customer_quote_quote_service_path(@company, @customer, @quote, quote_service), method: :delete, class: 'btn btn-danger', data: { confirm: "Etes-vous sûr(e) de vouloir supprimer cette prestation?" } do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div><br>
    <div>
      <%= link_to "Ajouter une prestation au devis", new_company_customer_quote_service_path(@company, @customer, @quote), class: "btn btn-primary" %>
    </div>
  </div>
  <div class="other row d-flex flex-column">
    <p><u>Remarques:</u> <button type="button" class="btn btn-link" data-toggle="modal" data-target="#otherModalCenter">Ajouter une remarque</button></p>
    <p><i><%= @quote.other %></i></p>
  </div>
  <div class='row d-flex flex-column'>
    <b>
      <p>Prix Total HT: <%= @quote.price_duty_free %> €</p>
      <p>Prix Total TTC: <%= @quote.price_all_taxes %> €</p>
      <p>Acompte à verser:  <%= @quote.deposit %> €  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#depositModalCenter">Ajouter un acompte</button></p>
    </b>
  </div>
  <div class="dates row d-flex flex-column">
    <p>Date du réglement:  <%= @quote.date_asked_payment.strftime("%d/%m/%Y") unless @quote.date_asked_payment.nil? %>  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#dateAskedPaymentModalCenter">Ajouter une date de réglement</button></p>
    <p>Date de début de la prestation:  <%= @quote.date_start_service.strftime("%d/%m/%Y") unless @quote.date_start_service.nil? %>  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#dateStartServiceModalCenter">Ajouter une date de début</button></p>
    <p>Date de fin de la prestation:  <%= @quote.date_end_service.strftime("%d/%m/%Y") unless @quote.date_end_service.nil? %>  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#dateEndServiceModalCenter">Ajouter une date de fin</button></p>
  </div>
  
  <div class="row">
    <%= link_to 'Revenir au client', company_customer_path(@company, @customer), class: 'btn btn-secondary' %>
  </div>
  
  <div class="modal fade" id="depositModalCenter" tabindex="-1" role="dialog" aria-labelledby="depositModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="depositModalLongTitle">Ajouter un acompte</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <ul>
              <li>30% d'acompte = <%= ((@quote.price_duty_free * 30) / 100).round(2) %> €</li>
            </ul>
          </div>
          <div>
            <%= form_for([@company, @customer, @quote]) do |f| %>
              <div class="d-flex">
                <div><%= f.hidden_field(:ref_quote, value: @quote.ref_quote) %></div>
                <div><%= f.hidden_field(:description, value: @quote.description) %></div>
                <div><%= f.hidden_field(:quote_status, value: @quote.quote_status) %></div>
                <div><%= f.hidden_field(:date, value: @quote.date) %></div>
                <div><%= f.hidden_field(:date_asked_payment, value: @quote.date_asked_payment) %></div>
                <div><%= f.hidden_field(:date_start_service, value: @quote.date_start_service) %></div>
                <div><%= f.hidden_field(:date_end_service, value: @quote.date_end_service) %></div>
                <div><%= f.hidden_field(:other, value: @quote.other) %></div>
                <div class='mr-auto'><%= f.label(:deposit, "Montant (en euros): ") %></div>
                <div><%= f.text_field(:deposit, required: true) %></div>
              </div><br>
              <div class="text-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <%= submit_tag "Valider l'acompte", class: 'btn btn-primary' %>  
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="otherModalCenter" tabindex="-1" role="dialog" aria-labelledby="otherModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="otherModalLongTitle">Ajouter une remarque</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <%= form_for([@company, @customer, @quote]) do |f| %>
              <div class="d-flex">
                <div><%= f.hidden_field(:ref_quote, value: @quote.ref_quote) %></div>
                <div><%= f.hidden_field(:description, value: @quote.description) %></div>
                <div><%= f.hidden_field(:quote_status, value: @quote.quote_status) %></div>
                <div><%= f.hidden_field(:date, value: @quote.date) %></div>
                <div><%= f.hidden_field(:date_asked_payment, value: @quote.date_asked_payment) %></div>
                <div><%= f.hidden_field(:date_start_service, value: @quote.date_start_service) %></div>
                <div><%= f.hidden_field(:date_end_service, value: @quote.date_end_service) %></div>
                <div><%= f.hidden_field(:deposit, value: @quote.deposit) %></div>
                <div><%= f.text_area(:other, required: false) %></div>
              </div><br>
              <div class="text-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <%= submit_tag "Valider la remarque", class: 'btn btn-primary' %>  
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="dateAskedPaymentModalCenter" tabindex="-1" role="dialog" aria-labelledby="dateAskedPaymentModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dateAskedPaymentModalLongTitle">Ajouter une date de réglement</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <%= form_for([@company, @customer, @quote]) do |f| %>
              <div class="d-flex">
                <div><%= f.hidden_field(:ref_quote, value: @quote.ref_quote) %></div>
                <div><%= f.hidden_field(:description, value: @quote.description) %></div>
                <div><%= f.hidden_field(:quote_status, value: @quote.quote_status) %></div>
                <div><%= f.hidden_field(:date, value: @quote.date) %></div>
                <div><%= f.hidden_field(:date_start_service, value: @quote.date_start_service) %></div>
                <div><%= f.hidden_field(:date_end_service, value: @quote.date_end_service) %></div>
                <div><%= f.hidden_field(:deposit, value: @quote.deposit) %></div>
                <div><%= f.hidden_field(:other, value: @quote.other) %></div>
                <div><%= f.date_field(:date_asked_payment, required: false) %></div>
              </div><br>
              <div class="text-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <%= submit_tag "Valider la date", class: 'btn btn-primary' %>  
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="dateStartServiceModalCenter" tabindex="-1" role="dialog" aria-labelledby="dateStartServiceModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dateStartServiceModalLongTitle">Ajouter une date de début de prestation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <%= form_for([@company, @customer, @quote]) do |f| %>
              <div class="d-flex">
                <div><%= f.hidden_field(:ref_quote, value: @quote.ref_quote) %></div>
                <div><%= f.hidden_field(:description, value: @quote.description) %></div>
                <div><%= f.hidden_field(:quote_status, value: @quote.quote_status) %></div>
                <div><%= f.hidden_field(:date, value: @quote.date) %></div>
                <div><%= f.hidden_field(:date_asked_payment, value: @quote.date_asked_payment) %></div>
                <div><%= f.hidden_field(:date_end_service, value: @quote.date_end_service) %></div>
                <div><%= f.hidden_field(:deposit, value: @quote.deposit) %></div>
                <div><%= f.hidden_field(:other, value: @quote.other) %></div>
                <div><%= f.date_field(:date_start_service, required: false) %></div>
              </div><br>
              <div class="text-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <%= submit_tag "Valider la date", class: 'btn btn-primary' %>  
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="dateEndServiceModalCenter" tabindex="-1" role="dialog" aria-labelledby="dateEndServiceModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dateEndServiceModalLongTitle">Ajouter une date de fin de prestation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <%= form_for([@company, @customer, @quote]) do |f| %>
              <div class="d-flex">
                <div><%= f.hidden_field(:ref_quote, value: @quote.ref_quote) %></div>
                <div><%= f.hidden_field(:description, value: @quote.description) %></div>
                <div><%= f.hidden_field(:quote_status, value: @quote.quote_status) %></div>
                <div><%= f.hidden_field(:date, value: @quote.date) %></div>
                <div><%= f.hidden_field(:date_asked_payment, value: @quote.date_asked_payment) %></div>
                <div><%= f.hidden_field(:date_start_service, value: @quote.date_start_service) %></div>
                <div><%= f.hidden_field(:deposit, value: @quote.deposit) %></div>
                <div><%= f.hidden_field(:other, value: @quote.other) %></div>
                <div><%= f.date_field(:date_end_service, required: false) %></div>
              </div><br>
              <div class="text-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <%= submit_tag "Valider la date", class: 'btn btn-primary' %>  
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>