<header>
  <div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 m-2 text-center">
      <div id="half">
        <%= link_to root_path do %>
          <h1>Easy Invoicing</h1>
        <% end %>
      </div>
    </div>
    <div>
      <ul class="nav flex-column bg-white mb-0">
        <div>
          <li class="nav-item">
            <%= link_to edit_user_registration_path, class: "nav-link text-dark" do %>
              <i class="fas fa-clipboard-list mr-3 text-primary fa-fw"></i>
              Compte
            <% end %>
          </li>
        </div>
        <% if @company.nil? || @company.id.nil? %>
          <li class="nav-item">
            <%= link_to companies_path, class: "nav-link text-dark" do %>
              <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
              Entreprises
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to companies_path, class: "nav-link text-dark" do %>
              <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
              Entreprises
            <% end %>
          </li>
          <% unless @company.nil? %>
            <div class="py-4 text-justify text-center m-2" id='nav-company'>
              <h3 id='company-name'>
                <%= @company.name %>
              </h3>
            </div>
          <% end %>
          <li class="nav-item">
            <%= link_to company_path(@company), class: "nav-link text-dark" do %>
              <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
              Tableau de Bord
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to company_customers_path(@company), class: "nav-link text-dark" do %>
              <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
              Clients
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to company_services_path(@company), class: "nav-link text-dark" do %>
              <i class="fas fa-compact-disc mr-3 text-primary fa-fw"></i>
              Prestations
            <% end %>
          </li>          
        <% end %>
      </ul>
    </div>
    <div class="py-4 px-2 mb-2 mt-2" id='logout'>
      <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </div>
</header>
