<div class="row d-flex">
  <h1 class="mr-auto">Liste des Factures</h1>
</div>
<% if @bills.blank? || @company.bills.blank? %>
  <div class="row d-flex">
    <p>Pas de facture</p>
  </div>
<% else %>
  <div class="row d-flex">
    <table border="1">
      <thead>
        <tr>
          <th>Référence</th>
          <th class="table_dash_customer">Client</th>
          <th class="table_dash_description">Description de la facture</th>
          <th>Acompte</th>
          <th>Prix HT</th>
          <th>Prix TTC</th>
          <th>Etat</th>
          <th>Changer l'état?</th>
        </tr>
      </thead>
      <tbody>
        <% @company.bills.each do |bill| %>
          <tr>
            <td>
              <%= link_to company_customer_bill_path(@company, bill.customer.id, bill.id) do %>
                <%= bill.ref_bill %>
              <% end %>
            </td>
            <td class="table_dash_customer">
              <%= link_to company_customer_path(@company, bill.customer.id) do %>
                <%= bill.customer.name %>
              <% end %>
            </td>
            <td class="table_dash_description"><%= bill.description %></td>
            <td class='text-right'><%= bill.deposit %> €</td>
            <td class='text-right'><%= bill.price_duty_free %> €</td>
            <td class='text-right'><%= bill.price_all_taxes %> €</td>
            <td class='text-right'><%= bill.bill_status %></td>
            <td>
                <%= form_for([@company, bill.customer, bill]) do |f| %>
                  <%= f.select(:bill_status, Bill.bill_statuses.keys.map {|status| status}) %>
                  <%= f.hidden_field(:ref_bill, value: bill.ref_bill) %>
                  <%= f.hidden_field(:description, value: bill.description) %>
                  <%= f.hidden_field(:date, value: bill.date) %>
                  <%= f.hidden_field(:date_asked_payment, value: bill.date_asked_payment) %>
                  <%= f.hidden_field(:date_start_service, value: bill.date_start_service) %>
                  <%= f.hidden_field(:date_end_service, value: bill.date_end_service) %>
                  <%= f.hidden_field(:deposit, value: bill.deposit) %>
                  <%= f.hidden_field(:other, value: bill.other) %>
                  <%= submit_tag 'OK', class: 'text-primary'%>
                <% end %>
              </td>
            <td>
              <%= link_to 'Détails', company_customer_bill_path(@company, bill.customer.id, bill.id), class: 'btn btn-secondary' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>