<section class="entete row mx-2">
  <table>
    <tr>
      <td class="company">
        <img src="https://www.google.com/maps/uv?pb=!1s0xd5147079b29bcff%3A0x44c80735a38397d1!3m1!7e115!4shttps%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipOkWMqBBI-ehnrDH7hFl8SksLIACW7x1iZgpo-g%3Dw160-h160-k-no!5spyrenov%2064%20-%20Recherche%20Google!15sCgIgAQ&imagekey=!1e10!2sAF1QipOkWMqBBI-ehnrDH7hFl8SksLIACW7x1iZgpo-g&hl=fr&sa=X&ved=2ahUKEwjAp_CWiJbuAhUECRoKHR-hBJEQoiowFHoECCAQAw" alt="logo">
        <%#= image_tag 'public/logo-low.png' %>
        <div class="company-content">
          <div><b><%= current_user.firstname.capitalize %> <%= current_user.lastname.capitalize %></b></div>
          <div><%= @company.name %></div>
          <div><%= @company.address %></div>
          <div><%= @company.postcode %> <%= @company.city %></div>
          <div><b>Tel: <%= @company.phone %></b></div>
          <div><b>Email: <%= @company.email %></b></div>
          <div>SIRET: <%= @company.siret %></div>
        </div>
      </td>
      <td class="customer">
        <table>
          <div class="title">
            <tr>
              <h4>FACTURE N˚ <span class="ref-bill"><%= @bill.ref_bill %></span></h4>
            </tr>
          </div>
          <div class="date">
            <tr><b>Date: <%= @bill.date.strftime("%d/%m/%Y") %></b></tr>
          </div>
          <div class="customer-content">
            <tr>
              <td>à</td>
              <td><b><%= @customer.name %></b></td>
            </tr>
            <tr>
              <td>Adresse:</td>
              <td>
                <div><%= @customer.address %></div>
                <div><%= @customer.postcode %> <%= @customer.city %></div>
              </td>
            </tr>
            <tr>
              <td>Réf Client:</td>
              <td><%= @customer.ref_client %></td>
            </tr>
          </div>
        </table>
      </td>
    </tr>
  </table>
  <br>
</section>

<section class="general-description mx-2">
  <p><u>Nature et adresse du chantier:</u>  <%= @bill.description %></p>
  <br>
</section>

<section class="services mx-2">
  <div class="row d-flex">
    <div class="row mx-2">
      <table border="1">
        <thead>
          <th class="description">Description de la prestation</th>
          <th>Prix unitaire</th>
          <th>Quantité</th>
          <th>Total HT</th>
        </thead>
        <tbody>
          <% if @bill.services.exists? %>
            <% @bill.bill_services.each do |bill_service| %>
              <tr>
                <td><%= bill_service.service.description_service %></td>
                <td class='text-right'><%= bill_service.service.unit_price %> €</td>
                <td class='text-right'><%= bill_service.service.quantity %></td>
                <td class='text-right'><%= bill_service.service.total_price_service %> €</td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>
</section>

<section class="other mx-2">
  <p><u>Remarques:</u></p>
  <p><%= @bill.other %></p>
  <br>
</section>

<section class="total mx-2">
  <p>
    Prix Total HT: <%= @bill.price_duty_free %> €  <i>(TVA non applicable, article 293-B du CGI)</i> <br>
    Prix Total TTC: <%= @bill.price_all_taxes %> €
  </p>
  <!--
  <p>
    Sommes versées: <%= @bill.deposit %> € <br>
    Somme restant due: 
  </p>
  -->
  <br>
</section>

<section class="legal-content mx-2">
  <div>
    <p>
      Assurance professionnelle: PACIFICA <br>
      Mode de réglement: chèque ou virement
    </p>
  </div>
  <br>
  <div class="professional">
    <h3>POUR UNE VENTE A UN PROFESSIONNEL</h3>
    <p>
      Date du réglement: <br>
      Date de la prestation: du ... au ... <br>
      Pénalités de 10% en cas d'absence de paiement à compter du : <br>
      En cas de retard de paiement, il sera appliquée une indemnité forfaitaire de recouvrement de 40€ (Code du Commerce - art. D441-5)
    </p>
  </div>
</section>