<div>
  <div class="row d-flex">
    <h1 class="mr-auto">Liste des Clients</h1>
    <div>
      <%= link_to 'Créer un nouveau client', new_company_customer_path(@company), class: 'btn btn-primary' %></div>
    </div>
  </div>
  <% if @customers.blank? %>
    <div class="row d-flex">
      <p>Pas de client</p>
    </div>
  <% else %>
    <div class="row d-flex" >
      <table border="1">
        <thead>
          <tr>
            <th>Référence</th>
            <th>Dénomination sociale</th>
            <th>Ville</th>
            <th>Nb devis</th>
            <th>Nb factures</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td>
                <%= link_to company_customer_path(@company, customer) do %>
                  <%= customer.ref_client %>
                <% end %>
              </td>
              <td><%= customer.name %></td>
              <td><%= customer.city %></td>
              <td class="text-right pr-1"><%= customer.quotes.count %></td>
              <td class="text-right pr-1"><%= customer.bills.count %></td>
              <td>
                <%= link_to "Voir détails", company_customer_path(@company, customer), class: 'btn btn-secondary w-100' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>